name: Build packages 4.x (on push)

# This workflow runs when any of the following occur:
# - when a pull request is created or updated that targets a branch starting with >= "4.13.*"

on:
  pull_request:
    branches:
      - 4.1[3-9].*
    paths-ignore:
      - '**.md'

jobs:
  call-build-workflow:
    permissions:
      actions: read
      contents: read
      id-token: write
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      id: ${{ github.ref }}