run-name: Build ${{ inputs.distribution }} Wazuh Indexer on ${{ inputs.architecture }} | ${{ inputs.id }}
name: Build packages

# This workflow runs when any of the following occur:
# - Run manually
# - Invoked from another workflow

on:
  workflow_dispatch:
    inputs:
      revision:
        description: "Revision number of the package."
        type: string
        default: "0"
        required: false
      upload:
        description: "Enable to upload the packages to the S3 bucket."
        type: boolean
        default: false
      is_stage:
        description: "Enable to use the release naming nomenclature."
        type: boolean
        default: false
      distribution:
        description: "Distribution format of the package [tar, rpm, deb]."
        type: choice
        options:
          - '[ "tar" ]'
          - '[ "deb" ]'
          - '[ "rpm" ]'
          - '[ "tar", "deb" ]'
          - '[ "tar", "rpm" ]'
          - '[ "deb", "rpm" ]'
          - '[ "tar", "deb", "rpm" ]'
        default: '[ "deb", "rpm" ]'
        required: true
      architecture:
        description: "Architecture of the package [x64, arm64]."
        type: choice
        options:
          - '[ "x64" ]'
          - '[ "arm64" ]'
          - '[ "x64", "arm64" ]'
        default: '[ "x64", "arm64" ]'
        required: true
      checksum:
        description: |
          Enable to generate the MD5 checksums of the packages.
          If the upload to the S3 bucket is enabled, these will be uploaded too.
        type: boolean
        default: false
      id:
        description: "ID used to identify the workflow uniquely."
        type: string
        required: false
      wazuh_plugins_ref:
        description: "Branch, commit or tag for the wazuh-indexer-plugins repository."
        type: string
        default: "main"
      reporting_plugin_ref:
        description: "Branch, commit or tag for the wazuh-indexer-reporting repository."
        type: string
        default: "main"
  workflow_call:
    inputs:
      revision:
        type: string
        default: "0"
        required: false
      upload:
        type: boolean
        default: false
      is_stage:
        type: boolean
        default: false
      distribution:
        type: string
        default: '[ "rpm", "deb" ]'
      architecture:
        type: string
        default: '[ "x64", "arm64"  ]'
      checksum:
        type: boolean
        default: false
      id:
        type: string
        required: false
      wazuh_plugins_ref:
        type: string
        default: "main"
      reporting_plugin_ref:
        type: string
        default: "main"
    secrets:
      CI_INTERNAL_DEVELOPMENT_BUCKET_USER_ACCESS_KEY:
        required: true
        description: "AWS user access key"
      CI_INTERNAL_DEVELOPMENT_BUCKET_USER_SECRET_KEY:
        required: true
        description: "AWS user secret key"

    outputs:
      name:
        description: Name of the package built.
        value: ${{ jobs.build.outputs.name }}

# ==========================
# Bibliography
# ==========================
#
# * Reusable workflows: limitations
#   | https://docs.github.com/en/actions/using-workflows/reusing-workflows#limitations
# * Using matrix in reusable workflows:
#   | https://docs.github.com/en/actions/using-workflows/reusing-workflows#using-a-matrix-strategy-with-a-reusable-workflow
# * Reading input from the called workflow
#   | https://docs.github.com/en/enterprise-cloud@latest/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_callinputs
# * Ternary operator
#   | https://docs.github.com/en/actions/learn-github-actions/expressions#example

jobs:
  get-versions-wazuh-indexer:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
      opensearch_version: ${{ steps.version.outputs.opensearch_version }}
    steps:
      - uses: actions/checkout@v4

      - name: Get Wazuh Indexer version
        id: version
        run: |
          # Get the Wazuh Indexer version using the product_version.sh script
          echo "version=$(bash ./build-scripts/product_version.sh)" >> "$GITHUB_OUTPUT"

          # Extracts the Opensearch version using the upstream-version.sh script
          opensearch_version=$(bash ./build-scripts/upstream-version.sh)
          echo "opensearch_version=$opensearch_version" >> "$GITHUB_OUTPUT"
  
  get-versions-wazuh-indexer-plugins:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.plugins_version.outputs.version }}
      opensearch_version: ${{ steps.plugins_version.outputs.opensearch_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: wazuh/wazuh-indexer-plugins
          ref: ${{ inputs.wazuh_plugins_ref }}

      - name: Read versions from wazuh-indexer-plugins
        id: plugins_version
        run: |
          echo "version=$(bash ./scripts/product_version.sh)" >> "$GITHUB_OUTPUT"

          # Extracts the Opensearch version
          opensearch_version=$(bash scripts/opensearch_version.sh "setup")
          echo "opensearch_version=$opensearch_version" >> "$GITHUB_OUTPUT"
        
  get-versions-wazuh-indexer-reporting:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.reporting_version.outputs.version }}
      opensearch_version: ${{ steps.reporting_version.outputs.opensearch_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: wazuh/wazuh-indexer-reporting
          ref: ${{ inputs.reporting_plugin_ref }}

      - name: Read versions from wazuh-indexer-reporting
        id: reporting_version
        run: |
           echo "version=$(bash ./tools/product_version.sh)" >> "$GITHUB_OUTPUT"

            # Extracts the Opensearch version
            opensearch_version=$(bash tools/opensearch_version.sh)
            echo "opensearch_version=$opensearch_version" >> "$GITHUB_OUTPUT"

  compatibility-check:
    runs-on: ubuntu-24.04
    needs: [get-versions-wazuh-indexer, get-versions-wazuh-indexer-plugins,  get-versions-wazuh-indexer-reporting]
    steps:
      - name: Check version compatibility
        run: |
          if [[ ("${{ needs.get-versions-wazuh-indexer.outputs.version }}" != "${{ needs.get-versions-wazuh-indexer-plugins.outputs.version }}") || ("${{ needs.get-versions-wazuh-indexer.outputs.version }}" != "${{ needs.get-versions-wazuh-indexer-reporting.outputs.version }}") ]]; then
            echo "The Wazuh Indexer version is not compatible with the plugins or reporting version."
            exit 1
          elif [[ ("${{ needs.get-versions-wazuh-indexer.outputs.opensearch_version }}" != "${{ needs.get-versions-wazuh-indexer-plugins.outputs.opensearch_version }}") && ("${{ needs.get-versions-wazuh-indexer.outputs.opensearch_version }}" != "${{ needs.get-versions-wazuh-indexer-reporting.outputs.opensearch_version }}") ]]; then
            echo "The Wazuh Indexer Opensearch version is not compatible with the plugins or reporting Opensearch version."
            exit 1
          else
            echo "The Wazuh Indexer version and the plugins version are compatible."
            exit 0
          fi

  setup:
    needs: [compatibility-check]
    name: Set up variables
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
      previous_version: ${{ steps.previous_release.outputs.previous_version }}
    steps:
      - id: matrix
        run: |
          matrix=$(jq -cn \
              --argjson distribution '${{ inputs.distribution }}' \
              --argjson architecture '${{ inputs.architecture }}' \
              '{distribution: $distribution, architecture: $architecture}'
          )
          echo "matrix=$matrix" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
      - id: previous_release
        name: Get latest Wazuh release from GitHub
        run: |
          CURRENT="$(bash build-scripts/product_version.sh)"
          PREVIOUS=$(curl -s https://api.github.com/repos/wazuh/wazuh-indexer/releases | jq -r '.[].tag_name' | grep -vE 'alpha|beta|rc' | sed 's/^v//' | grep -E '^4\.[0-9]+\.[0-9]+$' | \
          grep -v "^${CURRENT}$" | sort -V | awk -v current="$CURRENT" '$0 < current' | tail -n1)

          echo "Current version: $CURRENT"
          echo "Latest release detected: $PREVIOUS"
          echo "previous_version=$PREVIOUS" >> $GITHUB_OUTPUT

  build-wazuh-plugins:
    needs: [compatibility-check]
    if: ${{ inputs.wazuh_plugins_ref != '' }}
    strategy:
      fail-fast: false
      matrix:
        plugins: ["setup"]
    runs-on: ubuntu-24.04
    env:
      plugin_name: wazuh-indexer-${{ matrix.plugins }}
    outputs:
      hash: ${{ steps.save-hash.outputs.hash }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: wazuh/wazuh-indexer-plugins
          ref: ${{ inputs.wazuh_plugins_ref }}

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Get version
        id: version
        run: echo "version=$(jq .version -r VERSION.json)" >> "$GITHUB_OUTPUT"

      - name: Build with Gradle
        working-directory: ./plugins/${{ matrix.plugins }}
        run: ./gradlew build -Dversion=${{ steps.version.outputs.version }} -Drevision=${{ inputs.revision }}

      - run: ls -lR build/distributions
        working-directory: ./plugins/${{ matrix.plugins }}

      - name: Save commit hash
        id: save-hash
        run: echo "hash=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.plugin_name }}-${{ steps.version.outputs.version }}.${{ inputs.revision }}.zip
          path: "./plugins/${{ matrix.plugins }}/build/distributions/${{ env.plugin_name }}-${{ steps.version.outputs.version }}.${{ inputs.revision }}.zip"
          if-no-files-found: error

  build-reporting-plugin:
    needs: [compatibility-check]
    if: ${{ inputs.reporting_plugin_ref != '' }}
    runs-on: ubuntu-24.04
    outputs:
      hash: ${{ steps.save-hash.outputs.hash }}
    env:
      plugin_name: wazuh-indexer-reports-scheduler
    steps:
      - uses: actions/checkout@v4
        with:
          repository: wazuh/wazuh-indexer-reporting
          ref: ${{ inputs.reporting_plugin_ref }}

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle # Used for caching
        uses: gradle/actions/setup-gradle@v4

      - name: Get version
        id: version
        run: echo "version=$(jq .version -r VERSION.json)" >> "$GITHUB_OUTPUT"

      - name: Build with Gradle
        run: ./gradlew build -Dversion=${{ steps.version.outputs.version }} -Drevision=${{ inputs.revision }}

      - run: ls -lR build/distributions

      - name: Save commit hash
        id: save-hash
        run: echo "hash=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.plugin_name }}-${{ steps.version.outputs.version }}.${{ inputs.revision }}.zip
          path: build/distributions/${{ env.plugin_name }}-${{ steps.version.outputs.version }}.${{ inputs.revision }}.zip
          if-no-files-found: error
  
  build:
    needs: [setup, build-wazuh-plugins, build-reporting-plugin]
    runs-on: ${{ matrix.architecture == 'arm64' && 'wz-linux-arm64' || 'ubuntu-24.04' }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    outputs:
      name: ${{ steps.package.outputs.name }}
    steps:
      - uses: actions/checkout@v4

      # Download plugins
      - name: Download plugins
        uses: actions/download-artifact@v4
        if: ${{ inputs.wazuh_plugins_ref != '' || inputs.reporting_plugin_ref != '' }}
        with:
          path: ./artifacts/plugins
          merge-multiple: true

      - name: Display structure of downloaded files
        if: ${{ inputs.wazuh_plugins_ref != '' || inputs.reporting_plugin_ref != '' }}
        run: ls -lR ./artifacts/plugins

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Provision
        if: ${{ matrix.distribution == 'deb' }}
        run: |
          sudo bash build-scripts/provision.sh

      - name: Run `baptizer.sh` (min)
        run: |
          name=$(bash build-scripts/baptizer.sh -m \
            -a ${{ matrix.architecture }} \
            -d ${{ matrix.distribution }}  \
            -r ${{ inputs.revision }} \
            -l ${{ needs.build-wazuh-plugins.outputs.hash }} \
            -e ${{ needs.build-reporting-plugin.outputs.hash }} \
            ${{ inputs.is_stage && '-x' || '' }} \
          )
          echo "name=$name" >> $GITHUB_OUTPUT
        id: min_package

      - name: Run `baptizer.sh`
        run: |
          name=$(bash build-scripts/baptizer.sh \
            -a ${{ matrix.architecture }} \
            -d ${{ matrix.distribution }}  \
            -r ${{ inputs.revision }} \
            -l ${{ needs.build-wazuh-plugins.outputs.hash }} \
            -e ${{ needs.build-reporting-plugin.outputs.hash }} \
            ${{ inputs.is_stage && '-x' || '' }} \
          )
          echo "name=$name" >> $GITHUB_OUTPUT
        id: package

      - name: Run `build.sh`
        run: |
          bash build-scripts/build.sh \
            -a ${{ matrix.architecture }} \
            -d ${{ matrix.distribution }} \
            -n ${{ steps.min_package.outputs.name }}

      - name: Run `assemble.sh`
        run: |
          bash build-scripts/assemble.sh \
            -a ${{ matrix.architecture }} \
            -d ${{ matrix.distribution }} \
            -r ${{ inputs.revision }} \
            -l ${{ needs.build-wazuh-plugins.outputs.hash }} \
            -e ${{ needs.build-reporting-plugin.outputs.hash }}

      - name: Test RPM package installation
        if: ${{ matrix.distribution == 'rpm' }}
        uses: addnab/docker-run-action@v3
        with:
          image: redhat/ubi9:latest
          options: -v ${{ github.workspace }}/artifacts/dist:/artifacts/dist
          run: |
            yum localinstall "/artifacts/dist/${{ steps.package.outputs.name }}" -y
          

      - name: Test RPM package uninstallation
        if: ${{ matrix.distribution == 'rpm' }}
        uses: addnab/docker-run-action@v3
        with:
          image: redhat/ubi9:latest
          options: -v ${{ github.workspace }}/artifacts/dist:/artifacts/dist
          run: |
            yum localinstall "/artifacts/dist/${{ steps.package.outputs.name }}" -y
            yum remove wazuh-indexer -y

      - name: Test RPM package update stopping the indexer
        if: ${{ matrix.distribution == 'rpm' && needs.setup.outputs.previous_version >= '5.0' }}
        uses: addnab/docker-run-action@v3
        with:
          image: redhat/ubi9:latest
          options: 
            -v ${{ github.workspace }}/artifacts/dist:/artifacts/dist
            -v ${{ github.workspace }}/build-scripts/:/build-scripts/
          run: |
            bash /build-scripts/indexer_node_install.sh ${{ needs.setup.outputs.previous_version }}
            systemctl stop wazuh-indexer
            yum localinstall "/artifacts/dist/${{ steps.package.outputs.name }}" -y

            # Check if the indexer is running
            indexer_running=$($systemctl is-active --quiet wazuh-indexer && echo 1 || echo 0)
            if [[ "$indexer_running" == "1" ]]; then
              echo "The indexer is running after the update, but it should not be."
              exit 1
            else
              echo "The indexer is not running after the update, as expected."
            fi

      - name: Test RPM package update without stopping the indexer
        if: ${{ matrix.distribution == 'rpm' && needs.setup.outputs.previous_version >= '5.0' }}
        uses: addnab/docker-run-action@v3
        with:
          image: redhat/ubi9:latest
          options: 
            -v ${{ github.workspace }}/artifacts/dist:/artifacts/dist
            -v ${{ github.workspace }}/build-scripts/:/build-scripts/
          run: |
            bash /build-scripts/indexer_node_install.sh ${{ needs.setup.outputs.previous_version }}
            yum localinstall "/artifacts/dist/${{ steps.package.outputs.name }}" -y

            # Check if the indexer is running
            indexer_running=$($systemctl is-active --quiet wazuh-indexer && echo 1 || echo 0)
            if [[ "$indexer_running" == "1" ]]; then
              echo "The indexer is running after the update, as expected."
            else
              echo "The indexer is not running after the update, but it should be."
              exit 1
            fi

      - name: Test DEB package installation
        if: ${{ matrix.distribution == 'deb' }}
        run: |
          sudo dpkg -i "artifacts/dist/${{ steps.package.outputs.name }}"
          sudo apt-get remove --purge wazuh-indexer -y

      - name: Test DEB package update stopping the indexer
        if: ${{ matrix.distribution == 'deb' && (matrix.architecture == 'x64' || (needs.setup.outputs.previous_version >= '4.12' && matrix.architecture == 'arm64'))}}
        run: |
          sudo bash build-scripts/indexer_node_install.sh ${{ needs.setup.outputs.previous_version }}
          sudo systemctl stop wazuh-indexer
          sudo DEBIAN_FRONTEND=noninteractive dpkg -i --force-confnew "artifacts/dist/${{ steps.package.outputs.name }}"

          sudo apt-get remove --purge wazuh-indexer -y

      - name: Test DEB package update without stopping the indexer
        if: ${{ matrix.distribution == 'deb' && (matrix.architecture == 'x64' || (needs.setup.outputs.previous_version >= '4.12' && matrix.architecture == 'arm64'))}}
        run: |

          sudo bash build-scripts/indexer_node_install.sh ${{ needs.setup.outputs.previous_version }}
          sudo DEBIAN_FRONTEND=noninteractive dpkg -i --force-confnew "artifacts/dist/${{ steps.package.outputs.name }}"


      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.package.outputs.name }}
          path: artifacts/dist/${{ steps.package.outputs.name }}
          if-no-files-found: error

      - name: Set up AWS CLI
        if: ${{ inputs.upload }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CI_INTERNAL_DEVELOPMENT_BUCKET_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_INTERNAL_DEVELOPMENT_BUCKET_USER_SECRET_KEY }}
          aws-region: ${{ secrets.CI_AWS_REGION }}

      - name: Upload package to S3
        if: ${{ inputs.upload }}
        run: |
          src="artifacts/dist/${{ steps.package.outputs.name }}"
          dest="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/"
          aws s3 cp "$src" "$dest"
          s3uri="${dest}${{ steps.package.outputs.name }}"
          echo "::notice::S3 URI: ${s3uri}"

      - name: Upload checksum to S3
        if: ${{ inputs.upload && inputs.checksum }}
        run: |
          src="artifacts/dist/${{ steps.package.outputs.name }}.sha512"
          dest="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/"
          aws s3 cp "$src" "$dest"
          s3uri="${dest}${{ steps.package.outputs.name }}.sha512"
          echo "::notice::S3 sha512 URI: ${s3uri}"
